# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so
#.a

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
# .python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# poetry
#   Similar to Pipfile.lock, it is generally recommended to include poetry.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#   https://python-poetry.org/docs/basic-usage/#commit-your-poetrylock-file-to-version-control
#poetry.lock

# pdm
#   Similar to Pipfile.lock, it is generally recommended to include pdm.lock in version control.
#pdm.lock
#   pdm stores project-wide configurations in .pdm.toml, but it is recommended to not include it
#   in version control.
#   https://pdm.fming.dev/#use-with-ide
.pdm.toml

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# PyCharm
#  JetBrains specific template is maintained in a separate JetBrains.gitignore that can
#  be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#  and can be added to the global gitignore or merged into this file.  For a more nuclear
#  option (not recommended) you can uncomment the following to ignore the entire idea folder.
.idea/

# mkdocs
site/
mkdocs.yml

# Training outputs
work_dirs/

# Large data files
*.json

# known file types
# nn models
*.onnx
*.pt
*.pty
*.pth
# images
*.png
*.jpg
*.jpeg
*.bmp
*.tiff
*.tif
# bin
*.bin
# signatures
*.sig
# numpy
*.npy
# pickle
*.pkl
*.pickle

# video file types
# (Parrot AR Drone and Gyro Flyer Video)
*.MP4
# (YouTube for Android Offline Video Index)
*.EXI
# (Video for Windows)
*.VFW
# (AVS Workgroup of China Video)
*.AVS
# (MPEG-1, MPEG-2, MPEG-4)
*.MPG
# (QuickTime Movie)
*.MOV
# (Flash Video)
*.FLV
# (Audio Video Interleave)
*.AVI
# (Windows Media Video)
*.WMV
# (WebM Video File)
*.WEBM
# (Wondershare Fantashow Project)
*.WFSP
# (Wildgame Innovations Video File)
*.WGI
# (Windows Live Movie Maker Project)
*.WLMP
# (WinCAPs Subtitle File)
*.WCP
*.W32
# (WebEx Recording File)
*.WOT
# (Microsoft Photo Story Project)
*.WP3
#  (Windows Media Player Playlist)
*.WPL
# (Wondershare Filmora for Mac Project)
*.WSVE
# (Windows Recorded TV Show File)
*.WTV
# (Wondershare Filmora Project)
*.WVE
# (Google Video File)
*.WVM
# (WinCAPs Subtitle File)
*.W32
# (MPEG-4, M-JPEG, or DV)
*.MOD
# (MPEG-1, MPEG-2, MPEG-4)
*.MPEG
# (MPEG-1, MPEG-2)
*.MPE
# (MPEG-4, M-JPEG, or DV)
*.MPV
# (MPEG-4)
*.M4V
# (MPEG-4, protected)
*.M4P
# (MPEG-4 Audio)
*.M4A
# (MPEG-4 Audio, bookmarked)
*.M4B
# (Sony Vegas Project)
*.SVI
# (Third Generation Partnership Project Video)
*.3GP
# (Third Generation Partnership Project 2 Video)
*.3G2
# (Material eXchange Format)
*.MXF
# (RealOne Player Video)
*.ROQ
# (Nullsoft Streaming Video)
*.NSV
# (Flash Video, H.264)
*.F4V
# (Flash Video, protected)
*.F4P
# (Flash Audio)
*.F4A
# (Flash Audio, bookmarked)
*.F4B

